Requirements

- At least 10 records with a minimum of 8 fields
- The data can be hard-coded or sourced externally from .CSV or .TXT files
- When the application launches, the user is presented with a summary of the data and the home page showing a menu of options
- The menu shows all of the required options:
    - View all members
    - View a single member
    - Add a member
    - Amend a member
    - Delete a member
    - Exit
- Validation checks and error handling to guide users effectively using prompts
- Structure the application by dividing its functionality into appropriate, manageable modules or components
- Follow best programming practices
